################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CollegePanelWeb/FileContentIndex
/.vs/CollegePanelWeb/v18
/CollegeDataLayer/bin/Debug/DataLayer.dll
/CollegeDataLayer/bin/Debug/DataLayer.pdb
/CollegeDataLayer/obj/Debug/College_DataLayer.csproj.AssemblyReference.cache
/CollegeDataLayer/obj/Debug/College_DataLayer.csproj.CoreCompileInputs.cache
/CollegeDataLayer/obj/Debug/College_DataLayer.csproj.FileListAbsolute.txt
/CollegeDataLayer/obj/Debug/DataLayer.dll
/CollegeDataLayer/obj/Debug/DataLayer.pdb
/CollegePanel/bin/DataLayer.dll
/CollegePanel/bin/DataLayer.pdb
/CollegePanel/bin/Website.dll
/CollegePanel/bin/Website.pdb
/CollegePanel/obj/Debug/CollegePanelWeb.csproj.AssemblyReference.cache
/CollegePanel/obj/Debug/CollegePanelWeb.csproj.CoreCompileInputs.cache
/CollegePanel/obj/Debug/CollegePanelWeb.csproj.FileListAbsolute.txt
/CollegePanel/obj/Debug/Website.dll
/CollegePanel/obj/Debug/Website.pdb
/.vs/CollegePanelWeb/v17/.suo
/.vs/CollegePanelWeb/v17/DocumentLayout.backup.json
/.vs/CollegePanelWeb/v17/DocumentLayout.json
/.vs/CollegePanelWeb/CopilotIndices/17.14.1641.39856/CodeChunks.db
/.vs/CollegePanelWeb/CopilotIndices/17.14.1641.39856/CodeChunks.db-wal
/.vs/CollegePanelWeb/config/applicationhost.config
/CollegeDataLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CollegePanel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/CollegePanelWeb/CopilotIndices/17.14.1641.39856/CodeChunks.db-shm
/.vs/CollegePanelWeb/CopilotIndices/17.14.1641.39856/SemanticSymbols.db
/.vs/CollegePanelWeb/CopilotIndices/17.14.1641.39856/SemanticSymbols.db-shm
/.vs/CollegePanelWeb/CopilotIndices/17.14.1641.39856/SemanticSymbols.db-wal
/.vs/CollegePanelWeb/v17/fileList.bin
/.vs/CollegePanelWeb/v17/HierarchyCache.v1.txt
*.json
